.circle {
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
}

.sqaure {
  height: 100px;
  width: 100px;
  background-color: blue;
}